.*
!.gitignore
xs/BSON.c
!perl_mongo.c
!mongo_link.c
*.o
*.obj
vc90.pdb
MongoDB.def
MongoDB_def.old
Makefile*
!Makefile.PL
blib
pm_to_blib
Debian*
MongoDB-*
*.bs
*~
META.yml
pod/*
config.log
dll.base
dll.exp
MYMETA.json
MYMETA.yml
output.txt
/nyt*
